.activity {
    display: grid;
    font-size: 32px;
    grid-template-areas: 'header' 'map';
}

.activity-logo {
    align-self: center;
    bottom: 4px;
    justify-self: center;
    left: 4px;
    max-height: 60px;
    max-width: 92px;
    position: absolute;
    z-index: 400;
}

.activity-data {
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 180px;
    z-index: 401;
}

.activity-data-detail {
    font-size: 80%;
    padding: 0.5em;
    text-align: left;
}
