.activity {
    display: grid;
    font-size: 32px;
    grid-template-areas: 'header' 'map';
}

.activity-logo {
    align-self: center;
    bottom: 4px;
    justify-self: center;
    left: 4px;
    max-height: 60px;
    max-width: 92px;
    position: absolute;
    z-index: 400;
}

.activity-data {
    background-color: #fc5200;
    color: white;
    display: flex;
    flex-direction: column;
    grid-area: data;
    width: 100px;
}

.activity-data-detail {
    font-size: 80%;
    padding: 0.5em 0;
}
