.Activity {
    display: grid;
    font-size: 32px;
    grid-template-areas: 'logo title' 'data map' 'elevation elevation';
}

.ActivityLogo {
    align-self: center;
    grid-area: logo;
    justify-self: center;
    max-height: 60px;
    max-width: 92px;
}

.ActivityData {
    background-color: #fc5200;
    color: white;
    display: flex;
    flex-direction: column;
    grid-area: data;
    width: 100px;
}

.ActivityDataDetail {
    font-size: 80%;
    padding: 0.5em 0;
}
