.strava-login {
    align-items: center;
    background-color: #fc5200;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.strava-login-button img {
    width: 300px;
}

.inmotion-logo {
    margin-bottom: 6vh;
}
