.outro {
    align-items: center;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
}

.outro ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.outro-activity-type {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5em;
}

.outro-activity-type img {
    filter: invert(1);
    max-height: 1.6em;
}