.activity-elevation-graph {
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
    z-index: 2;
}

.activity-elevation-axis {
    display: flex;
    flex-direction: column;
    font-size: 0.5em;
    height: 80px;
    justify-content: space-between;
    left: 0;
    mix-blend-mode: difference;
    position: absolute;
    top: 0;
    width: 60px;
    z-index: 3;
}
