.ActivityElevation {
    display: flex;
    grid-area: elevation;
    height: 80px;
    width: 1280px;
}

.ActivityElevation .elevation-axis {
    background: linear-gradient(90deg, rgba(0,0,0,0) calc(50% - 1px), rgba(192,192,192,1) calc(50%), rgba(0,0,0,0) 50%);
    display: flex;
    flex-direction: column;
    font-size: 0.5em;
    justify-content: space-between;
    width: 60px;
}

.ActivityElevation .elevation-axis span {
    background-color: white;
}