.activity-header {
    align-items: center;
    background-color: white;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 2.4rem;
    grid-area: header;
    height: 80px;
    justify-content: center;
    padding: 0 0.5em 0 2em;
    z-index: 1;
}

.activity-header-overlay {
    background-color: #fc5200;
    height: 80px;
    left: 0;
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

.activity-header-title {
    margin-left: auto;
    mix-blend-mode: exclusion;
    z-index: 3;
}

.activity-header-date {
    font-size: 50%;
    font-style: italic;
    margin-left: auto;
    mix-blend-mode: difference;
    z-index: 3;
}